<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1">

        <title>Sign-Up</title>

        <!--Bootstrap css, using integrity attr to ensure correct content was downloaded -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <!-- angular script file -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

        <script src="js/app.js"></script>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body ng-app="SignUp" ng-controller="SignUpController">
        <header>
            <h1>Sign Up</h1>
            <p>Our service is fun and awesome, but you must be 13 years old to join! HAHA</p>
        </header>

        <main>
            <form name="confirmForm" novalidate>
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input type="text" class="form-control" id="fname" name="fname" ng-model="user.fname" required/>
                </div>

                <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input type="text" class="form-control" id="lname" name="lname" ng-model="user.lname" required/>
                </div>



                <button type="submit" class="btn btn-success" ng-disabled="confirmForm.$invalid">
                    Sign Me Up!
                </button>
            </form>
        </main>

    </body>
</html>